@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Manrope", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.menu-list {
  margin: 5px 0px;
  display:flex;
  align-items: center;
  /* border: 1px solid red; */
}

.divider-section {
padding : 10px 0;
}

.text-list {
  /* color:red; */
  font-weight: 400;
  position: relative;
  left: -15px;
}

.date-picker-container {
  display: flex;
}

.search-bar-home {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}


