@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Manrope", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.menu-list {
  margin: 5px 0px;
  display:flex;
  align-items: center;
  /* border: 1px solid red; */
}

.divider-section {
padding : 10px 0;
}

.text-list {
  /* color:red; */
  font-weight: 400;
  position: relative;
  left: -15px;
}

.date-picker-container {
  display: flex;
}

.search-bar-home {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flex {
  display:flex;
}

.app-bar {
  background-color: white;
  color: black;
}

.avatar-group {
  position: relative;
  /* top: -8px; */
  left: 12px;
}

.avatar-group-btn {
  position: relative;
  left: 52px;
  /* top: -8px; */
}

.card-image {
  width: 90%;
  height: 200px;
  margin: 0 auto;
  border-radius:4px 20px 4px 20px;
}

.flex-card {
  display: flex;
  flex-wrap: wrap;
}


.card-margin {
  margin:10px;
}

.home-toggle-btn {
  position:relative;
  top: -520px;
  left:700px;
  background-color: red;
}

.div-home-toggle {
  width: 600px;
  height: 200px;
}
/* .user-location{
  height:100px;
  width:100px;
  background-color:rgba(0, 225, 255, 0.096);
  border-radius:100%;
} */

.toggleDisplayOff{
  display:none;
}
/* .LocationAutoComplete-results{
  border: 1px solid red;
} */