@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Manrope", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: #f8f9fd;
}

ul {
  list-style-type: none;
}

.menu-list {
  margin: 5px 0px;
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}

.divider-section {
  padding: 10px 0;
}

.text-list {
  /* color:red; */
  font-weight: 400;
  position: relative;
  left: -15px;
}

.date-picker-container {
  display: flex;
}

.search-bar-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  /* border: 1px solid black; */
  /* border-radius: 10px; */
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-bar {
  background-color: white;
  color: black;
}

/* .avatar-group {
  position: relative;
  left: 12px;
} */

/* .avatar-group-btn {
  position: relative;
  left: 52px;
  top: -4px;
} */

.card-image {
  width: 90%;
  height: 200px;
  margin: 0 auto;
  border-radius: 4px 20px 4px 20px;
}

.flex-card {
  display: flex;
  flex-wrap: wrap;
}


.card-margin {
  margin: 10px;
}
.card-container-bottom {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px 10px 20px;
}


.home-toggle-btn {
  position: relative;
  top: -520px;
  left: 700px;
  background-color: red;
}

.div-home-toggle {
  width: 600px;
  height: 200px;
}

.flex-general {
  display: flex;
  flex-wrap: wrap;
  /* margin: 15px 0; */
  justify-content: space-between;
  /* background-color: red; */
}


.main-container {
  background-color: white;
  /* max-width: 800px; */
  /* margin: 1vh auto 10px; */
  padding: 0 25px;
  /* max-height: 100vh; */
  /* box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12); */
  border-radius: 15px;
}

.title {
  padding: 20px 0;
}

.title-container {
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

/* .text-field-bg {
  background-color: #eff1f6;
} */


.single-row {
  width: 100%;
}

.avatar-container {
  margin: 20px;
  height: 150px;
  max-height: 150px;
  width: 150px;
  max-width: 150px;
  border-radius: 100%;
  background-color: grey;
  text-align: center;
}

.img-container {
  height: 150px;
  max-height: 150px;
  width: 100%;
  /* max-width: 150px; */
  border-radius: 4px 20px 4px 20px;
  background-color: grey;
  text-align: center;
  background-size: cover;
}

.team-container {
  border: 2px solid #3f51b5;
  border-radius: 4px 20px 4px 20px;
  padding:15px 20px 15px 20px;
}

.pic-avatar-container {
  margin-right: 10px;
  height: 50px;
  max-height: 150px;
  width: 50px;
  max-width: 150px;
  border-radius: 100%;
  background-color: grey;
  text-align: center;
  border-radius: 4px 20px 4px 20px
}

.tag-container {
  /* margin-right: 10px;
  height: 50px;
  max-height: 150px;
  width: 50px;
  max-width: 150px;
  border-radius: 100%;
  background-color: grey;
  text-align: center;
  border-radius: 4px 20px 4px 20px */
  padding: 5px;
  background-color: #d1d1e9;
  border-radius: 6px;
  display: inline-flex;
  font-size: 12px;
  color: #6246ea; 
}

.img-position,
.upload-position,
.submit-btn {
  display: flex;
  justify-content: center;
}


.padding-btn {
  padding: 20px 0 !important;
}

.favorite-container {
  border: 2px solid #3f51b5;
  border-radius: 4px 20px 4px 20px;
  padding: 10px;
 margin: 20px 0;
}

.card-margin {
  margin: 10px 20px -10px 20px;
}

.remove-btn-position {

  display: flex;
  justify-content: flex-end;
  margin: 8px -5px 8px 8px;
}

.favorite-card-position {
  margin:10px;
}

.test {
  display: flex;
  justify-content: flex-end;

}

.margin-top {
  margin: 20px 0;
}

.margin-right {
  margin-right: 10px ;
}
/* .user-location{
  height:100px;
  width:100px;
  background-color:rgba(0, 225, 255, 0.096);
  border-radius:100%;
} */

.toggleDisplayOff{
  display:none;
}
/* .LocationAutoComplete-results{
  border: 1px solid red;
} */

.date-hour-container {
  margin: 30px 0 10px 0;
}
.adresse-container {
  margin: 20px 0 10px 0;
}

.profile-container-burger {
margin: 20px 0;
}

.img-container-burger {
  margin: 20px auto;
  height: 100px;
  max-height: 150px;
  width: 100px;
  max-width: 150px;
  border-radius: 100%;
  background-color: grey;
  text-align: center;
}

.title-container-burger {
  text-align: center;
  
}

.change-view-container {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 10px;
  background-color: white;
}

.change-view-container button {
background-color: red;
padding: 8px;
border-radius: 10px;
color: white;
}

.margin-general {
  margin: 10px;
  /* border: 1px solid black; */
}

.title-favorite {
  font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em
}

.MuiRating-root {
  margin-top: 9.5px;
}

.MuiSwitch-root {
  left:-10px
}

.MuiExpansionPanelSummary-content {
  justify-content: center;
}

.MuiExpansionPanelDetails-root  {
  justify-content: center;
  /* justify-content: space-around; */
}